---
import CursosBanner from "../components/CursosBanner.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Navbar from "../components/Navbar.astro"
import ProjetosDestaque from "../components/ProjetosDestaque.astro"
import type { Projeto } from "../domain/interfaces/Projeto"
import MainLayout from "../layouts/MainLayout.astro"

const destaques: Projeto[] = []
---
<MainLayout
  titulo="UDESC Maker — Explore projetos maker e aprenda criando"
  descricao="Uma plataforma da UDESC para divulgar ciência e tecnologia para a comunidade através da prática e da criatividade."
>
  <Navbar />

  <main>
    <Hero />
    <ProjetosDestaque projetos={destaques} />
    <CursosBanner />
  </main>

  <Footer />
</MainLayout>
