---
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout
  titulo="UDESC Maker — Explore projetos maker e aprenda criando"
  descricao="Uma plataforma da UDESC para divulgar ciência e tecnologia para a comunidade através da prática e da criatividade."
>
  <main></main>
</MainLayout>
