---
import CursosBanner from "../components/CursosBanner.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Navbar from "../components/Navbar.astro"
import ProjetosDestaque from "../components/ProjetosDestaque.astro"
import type { Projeto } from "../domain/interfaces/Projeto"
import { filterItems } from "../helpers/filter"
import MainLayout from "../layouts/MainLayout.astro"
import { ProjetoService } from "../services/projeto.service"

const projetoService = new ProjetoService()

const projetos = await projetoService.listAll();

const destaques: Projeto[] = filterItems(projetos, [
  { field: 'destaque', operator: 'eq', value: true }
])
---
<MainLayout
  titulo="UDESC Maker — Explore projetos maker e aprenda criando"
  descricao="Uma plataforma da UDESC para divulgar ciência e tecnologia para a comunidade através da prática e da criatividade."
>
  <Navbar />

  <main>
    <Hero />
    <ProjetosDestaque projetos={destaques} />
    <CursosBanner />
  </main>

  <Footer />

  <script>
    const input = document.getElementById('search') as HTMLInputElement;

    input.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        const query = input.value.trim();

        if (!query) {
          return;
        }

        window.location.href = `/udesc-maker/projetos?q=${encodeURIComponent(query)}`;
      }
    });
  </script>
</MainLayout>
